*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;    
}
.banner{
width: 100%;
height: 100vh;
background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(bc1.jpg); 
background-position: center; 
background-size: cover;  
}
.navbar{
width: 85%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: center;
justify-content: space-between;
 }
 .logo{
    width: 120px;
    cursor: pointer;    
    }
    .navbar ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;   
        position: relative;
       }
       .navbar ul li a{
        text-decoration: none;
        color:blanchedalmond;
        text-transform: uppercase;
       }    
       .navbar ul li::after{
       content: '';
       height: 3px;
       width: 0;
       background:yellow ; 
       position: absolute;
       left: 0;
       bottom: -10px;
       transition: 0.5s;
       }
       .navbar ul li:hover::after{
        width: 100%;    
        }     
        .content{
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            color:goldenrod;    
            }
            .content h1{
                font-size: 70px;
                margin-top: 150px;
                }    
                .content p{
                    margin: 20px auto;
                    font-weight: 250;
                    line-height: 25px;
                    font-size: 25px;
                    fo
                    }  
                button{
                 width: 200px;
                 padding: 15px 0;
                 text-align: center;
                 margin: 20px;
                 border-radius: 25px;
                 font-weight: bold;
                 border: 2px solid orange;
                 background: transparent;
                 color: aliceblue;
                 cursor: pointer;  
                 position: relative; 
                 overflow: hidden;
                }  
                button a{
                    color: aliceblue;
                }            
                span{
                   background-color: goldenrod;
                   height: 100%;
                   width: 0;
                   border-radius: 25px;
                   position: absolute;
                   left: 0;
                   bottom: 0;
                   z-index: -1;
                   transition: 0.5s;
                }
                button:hover span{
                    width: 100%;
                    

                }
                button: :hover{
                    border: none
                }

